<div class="violet-about">
    <h4 class="v-section-tit">About 悔惜晟</h4>
    <article class="violet-about-det">

    </article>
    <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1777890595&verifier=e659651a&dpc=1"></iframe>
<!--     <p class="v-more-right">
        <a href="/about.html"><span>&#10149;</span>More</a>
    </p> -->
</div><!-- //violet-about -->